<section class="page-header-wrap page-header-wrap--archive">
    <div class="page-header-wrap__container">
        <div class="page-header page-header--archive page-header--archive-hub">
            <div class="page-header__layout page-header__layout--stacked">
                <h1 class="page-header__title page-header__title--centered">{{ page.title }}</h1>
                <p class="page-header__description page-header__description--centered">Check out the <a
                        class="archive-header__blog-link"
                        href="{{ site.baseurl }}/blog">blog</a> for all
                    posts.</p>
            </div>
        </div>
    </div>
</section>
