<section class="bg-white p-0">
    <div class="container mx-auto">
        <div class="max-w-screen-md mx-auto border-b border-b-gray-200 py-16 mb-16">
            <div class="flex-col px-5 lg:px-0">
                <h1 class="text-8xl mb-8 font-bold text-center relative">{{ page.title }}</h1>
                <p class="text-center text-xl text-gray-700">Check out the <a
                        class="text-black font-bold border-b-2 border-transparent hover:border-b-violet-600 ease-in duration-300"
                        href="{{ site.baseurl }}/blog">blog</a> for all
                    posts.</p>
            </div>
        </div>
    </div>
</section>
