{% if site.contributions.size > 0 %}
<section class="contributions">
    <div class="contributions__container">
        <div class="contributions__inner">
            <h2 class="contributions__title">Contributions</h2>

            <p class="contributions__subtitle">I have contributed to some great projects</p>

            <div class="contributions__grid">
                {% for contribution in site.contributions %}
                <div class="contributions__item">
                    <a href="{{ contribution.url }}" class="contributions__link">
                        <img src="{{ site.baseurl }}{{ contribution.logo }}"
                             class="contributions__logo" alt="{{ contribution.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
