<section class="mb-8">
    <div class="container mx-auto">
        <div class="p-5">
            <h2 class="text-3xl font-bold text-center mb-8">Latest Posts</h2>
            <div class="max-w-screen-md mx-auto">
                {% for post in site.posts limit:3 %}
                {% include post-item.html %}
                {% endfor %}
            </div>
            <div class="mt-16 text-center">
                <a href="{{ site.baseurl }}/blog"
                   class="py-4 px-6 bg-violet-700 text-lg font-semibold rounded-3xl text-white ease-in duration-300 hover:bg-violet-800">
                    All Posts &rarr;
                </a>
            </div>
        </div>
    </div>
</section>
