{% if paginator.total_pages > 1 %}
<section class="mx-auto max-w-screen-md px-5">
    <nav class="flex items-center justify-between">
        {% if paginator.previous_page %}
        <a class="inline-block font-semibold border-b-2 border-transparent hover:border-indigo-600"
           href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
        {% else %}
        <span class="inline-block cursor-not-allowed">Previous</span>
        {% endif %}

        {% if paginator.next_page %}
        <a class="inline-block font-semibold border-b-2 border-transparent hover:border-indigo-600"
           href="{{ paginator.next_page_path | relative_url }}">Next</a>
        {% else %}
        <span class="inline-block cursor-not-allowed">Next</span>
        {% endif %}
    </nav>
</section>
{% endif %}
