{% assign previous_article_label = site.theme_text.previous_article_label | default: "Previous article" %}
{% assign next_article_label = site.theme_text.next_article_label | default: "Next article" %}
{% assign effective_previous_post = page.previous %}
{% assign effective_next_post = page.next %}
{% if page.list %}
{% assign series_posts = site.posts | where: "list", page.list | sort: "date" %}
{% assign current_series_index = -1 %}
{% for post in series_posts %}
{% if post.url == page.url %}
{% assign current_series_index = forloop.index0 %}
{% endif %}
{% endfor %}
{% if current_series_index >= 0 %}
{% assign effective_previous_post = page.previous %}
{% assign effective_next_post = page.next %}
{% assign previous_series_index = current_series_index | minus: 1 %}
{% assign next_series_index = current_series_index | plus: 1 %}
{% if previous_series_index >= 0 %}
{% assign effective_previous_post = series_posts[previous_series_index] %}
{% endif %}
{% if next_series_index < series_posts.size %}
{% assign effective_next_post = series_posts[next_series_index] %}
{% endif %}
{% endif %}
{% endif %}
<section class="post-navigation-shell">
    <div class="post-navigation-shell__inner post-navigation">
        {% if effective_previous_post.url %}
        <a class="post-navigation__item" href="{{ site.baseurl }}{{ effective_previous_post.url }}">
            <span class="post-navigation__label">{{ previous_article_label }}</span>
            <span class="post-navigation__title">{{ effective_previous_post.title }}</span>
        </a>
        {% endif %}
        {% if effective_next_post.url %}
        <a class="post-navigation__item post-navigation__item--next" href="{{ site.baseurl }}{{ effective_next_post.url }}">
            <span class="post-navigation__label">{{ next_article_label }}</span>
            <span class="post-navigation__title">{{ effective_next_post.title }}</span>
        </a>
        {% endif %}
    </div>
</section>
