<article class="flex flex-col lg:flex-row items-center mb-8 pb-8 border-b border-gray-200">
    <!-- thumbnail -->
    {% if post.image %}
    <a href="{{ site.baseurl }}{{ post.url }}"
       class="w-full relative block lg:min-w-[250px] lg:max-w-[250px] lg:max-h-[250px] aspect-square lg:mr-5 mb-5 lg:mb-0 rounded-lg overflow-hidden">
        <img src="{{ site.baseurl }}{{ post.image }}"
             class="absolute inset-0 w-full h-full object-cover hover:scale-105 ease-in duration-300"
             alt="{{ post.title }}"/>
    </a>
    {% endif %}
    <!-- content -->
    <div>
        {% assign tags = post.tags %}
        {% include post-tags.html %}
        <!-- title -->
        <h2 class="text-3xl font-black mb-5 font-sans">
            <a class="border-b-2 border-transparent hover:border-b-violet-600 ease-in duration-300"
               href="{{ site.baseurl }}{{ post.url }}">{{
                post.title }}</a>
        </h2>
        <!-- excerpt -->
        <div class="text-gray-500 text-lg mb-0">
            {{ post.excerpt | strip_html | truncatewords: 20 }}
        </div>
    </div>
</article>
