<section class="social-section">
    <div class="social-section__inner">
        <div class="social-section__container">
            <div class="social-section__content">
                <h3 class="social-section__title">{{ site.author.name }}</h3>
                <div class="social-section__links-wrap">
                    <ul class="social-section__links">
                        {% for social in site.footer.social %}
                        <li class="social-section__item">
                            <a class="social-section__link"
                               href="{{ social.url }}">
                                <ion-icon name="{{ social.icon }}"></ion-icon>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="social-section__description">
                    <p>{{ site.author.description }}</p>
                </div>
            </div>
        </div>
        <div class="social-section__bg-image social-section__bg-pattern"></div>
        <div class="social-section__bg-overlay"></div>
    </div>
</section>
