{% if site.testimonials.size > 0 %}
<section class="testimonials">
    <div class="testimonials__container">
        <div class="testimonials__inner">
            <h2 class="testimonials__title">Testimonials</h2>
            <div class="testimonials__grid">
                {% for testimonial in site.testimonials %}
                <!-- Item start -->
                <div class="testimonial-card-wrap">
                    <div class="testimonial-card">
                        <div class="testimonial-card__header">
                            <div class="testimonial-card__avatar-frame">
                                <img width="40px" height="40px"
                                     class="testimonial-card__avatar"
                                     src="{{ testimonial.image }}"
                                     alt=""/>
                            </div>
                            <div>
                                <h3 class="testimonial-card__name">
                                    <a href="#">{{ testimonial.name }}</a>
                                </h3>
                                <p class="testimonial-card__role">{{ testimonial.description }}</p>
                            </div>
                        </div>

                        <p class="testimonial-card__content">
                            {{ testimonial.content }}
                        </p>
                    </div>
                </div>
                <!-- Item end -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
