// Main Header
* {
  -webkit-font-smoothing: antialiased;
}

#main-header {
  ion-icon[name="menu-outline"], ion-icon[name="close-outline"] {
    font-size: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", Georgia, Cambria, Times New Roman, Times, serif;
}
