* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #4d41e0;
  color: #fff;
}

::-moz-selection {
  background: #4d41e0;
  color: #fff;
}

#main-header {
  ion-icon[name="menu-outline"], ion-icon[name="close-outline"] {
    font-size: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", Georgia, Cambria, Times New Roman, Times, serif;
}

.organization-logo {
  filter: invert(51%) sepia(4%) saturate(1703%) hue-rotate(179deg) brightness(85%) contrast(89%)
}

.post-title {
  //line-height: 4rem;
}

.content {
  color: #333;

  p {
    margin-bottom: 1.5rem;
  }

  hr {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 800;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  ul, ol, dd {
    margin-left: 1rem;
    padding-left: 0.25rem;
    margin-bottom: 1.5rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol, ul {
    li {
      margin-bottom: 0.75rem;
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  a:link, a:visited {
    text-decoration: underline;
    text-decoration-color: #4d41e0;
    transition: all 0.2s ease-in-out;
  }

  a:hover, a:active {
    text-decoration: none;
  }

  strong {
    font-weight: 500;
    color: #000;
  }

  > table {
    font-size: 0.9rem;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5rem;

    thead {
      background: #f9f9f9;
    }

    th {
      font-weight: 700;
      border: 1px solid #eee;
      padding: 0.5rem;
      text-align: left;
    }

    td {
      padding: 0.5rem;
    }

    tbody tr:nth-child(odd) {
      background: #fff;

      td {
        border: 1px solid #f9f9f9;
      }
    }

    tbody tr:nth-child(even) {
      background: #f9f9f9;

      td {
        border: 1px solid #eee;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  mjx-container {
    max-width: 100%;
    overflow: auto;
  }

  blockquote, div.note, div.tip, div.info, div.caution, div.danger {
    position: relative;
    padding: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;

    p:last-child {
      margin-bottom: 0;
    }
  }

  blockquote::before, div.note::before, div.tip::before, div.info::before, div.caution::before, div.danger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .08;
    border-radius: 1rem;
  }

  blockquote::after, div.note::after, div.tip::after, div.info::after, div.caution::after, div.danger::after {
    font-family: "Noto Serif", Georgia, Cambria, Times New Roman, Times, serif;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 1;
    font-size: 3rem;
    line-height: 0;
    color: #4d41e0;
  }

  blockquote {
    &::before {
      background: #4d41e0;
    }

    &::after {
      content: "\0022";
      font-style: italic;
      font-size: 9rem;
    }
  }

  div.note {
    &::before {
      border: 1px solid #000;
    }

    &::after {
      content: "\0021";
      color: #000;
    }
  }

  div.tip {
    &::before {
      background: #4d41e0;
    }

    &::after {
      content: "\0021";
    }
  }

  div.info {
    &::before {
      background: #eef9fc;
      border: 1px solid #4bb3d4;
      opacity: 0.2;
    }

    &::after {
      content: "\0021";
      color: #4bb3d4;
    }
  }

  div.caution {
    &::before {
      background: #fff9e6;
      border: 1px solid #f0c14b;
      opacity: 0.2;
    }

    &::after {
      content: "\0021";
      color: #f0c14b;
    }
  }

  div.danger {
    &::before {
      background: #ffe6e6;
      border: 1px solid #e03e2d;
      opacity: 0.2;
    }

    &::after {
      content: "\0021";
      color: #e03e2d;
    }
  }
}

@import "highlight";
