.font-sans {
  font-family: var(--font-sans);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

.font-black {
  font-weight: var(--font-weight-bold);
}

.text-xs {
  font-size: var(--font-text-xs-size);
  line-height: var(--font-text-xs-line-height);
}

.text-sm {
  font-size: var(--font-text-sm-size);
  line-height: var(--font-text-sm-line-height);
}

.text-base {
  font-size: var(--font-text-md-size);
  line-height: var(--font-text-md-line-height);
}

.text-lg {
  font-size: var(--font-text-lg-size);
  line-height: var(--font-text-lg-line-height);
}

.text-xl {
  font-size: var(--font-heading-md-size);
  line-height: var(--font-heading-md-line-height);
}

.text-2xl {
  font-size: var(--font-heading-lg-size);
  line-height: var(--font-heading-lg-line-height);
}

.text-3xl {
  font-size: var(--font-heading-xl-size);
  line-height: var(--font-heading-xl-line-height);
}

.text-5xl {
  font-size: var(--font-heading-3xl-size);
  line-height: var(--font-heading-3xl-line-height);
}

.text-8xl {
  font-size: var(--font-heading-5xl-size);
  line-height: var(--font-heading-5xl-line-height);
}

.leading-8 {
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
