$color_1: #999988;
$color_2: #a61717;
$color_3: #000000;
$color_4: #999999;
$color_5: #aa0000;
$color_6: #888888;
$color_7: #555555;
$color_8: #aaaaaa;
$color_9: #445588;
$color_10: #009999;
$color_11: #d01040;
$color_12: #008080;
$color_13: #0086B3;
$color_14: #3c5d5d;
$color_15: #800080;
$color_16: #990000;
$color_17: #000080;
$color_18: #bbbbbb;
$color_19: #009926;
$color_20: #990073;

$background-color_1: #ffffcc;
$background-color_2: #e3d2d2;
$background-color_3: #ffdddd;
$background-color_4: #ddffdd;

figure.highlight, div.highlight {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background: #f9f9f9;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
  border-radius: 0.25rem;
}

code.language-plaintext {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.4rem;
  background: #f9f9f9;
  padding: 0.3rem;
  color: black;
  border-radius: 0.25rem;
}

.highlight {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.4rem;

  .gutter {
    float: left;
    text-align: center;
    min-width: 1.5rem;
    padding-right: 0.5rem;
    color: #999;
    border-right: 1px solid #eaeaea;
    margin-right: 0.5rem;
  }

  .hll {
    background-color: $background-color_1;
  }

  /* Comment */
  .c {
    color: $color_1;
    font-style: italic;
  }

  /* Error */
  .err {
    color: $color_2;
    background-color: $background-color_2;
  }

  /* Keyword */
  .k {
    color: $color_3;
  }

  /* Operator */
  .o {
    color: $color_3;
  }

  /* Comment.Multiline */
  .cm {
    color: $color_1;
    font-style: italic;
  }

  /* Comment.Preproc */
  .cp {
    color: $color_4;
    font-style: italic;
  }

  /* Comment.Single */
  .c1 {
    color: $color_1;
    font-style: italic;
  }

  /* Comment.Special */
  .cs {
    color: $color_4;
    font-style: italic;
  }

  /* Generic.Deleted */
  .gd {
    color: $color_3;
    background-color: $background-color_3;
  }

  /* Generic.Emph */
  .ge {
    color: $color_3;
    font-style: italic;
  }

  /* Generic.Error */
  .gr {
    color: $color_5;
  }

  /* Generic.Heading */
  .gh {
    color: $color_4;
  }

  /* Generic.Inserted */
  .gi {
    color: $color_3;
    background-color: $background-color_4;
  }

  /* Generic.Output */
  .go {
    color: $color_6;
  }

  /* Generic.Prompt */
  .gp {
    color: $color_7;
  }

  /* Generic.Strong */
  .gs {
    font-weight: bold;
  }

  /* Generic.Subheading */
  .gu {
    color: $color_8;
  }

  /* Generic.Traceback */
  .gt {
    color: $color_5;
  }

  /* Keyword.Constant */
  .kc {
    color: $color_3;
  }

  /* Keyword.Declaration */
  .kd {
    color: $color_3;
  }

  /* Keyword.Namespace */
  .kn {
    color: $color_3;
  }

  /* Keyword.Pseudo */
  .kp {
    color: $color_3;
  }

  /* Keyword.Reserved */
  .kr {
    color: $color_3;
  }

  /* Keyword.Type */
  .kt {
    color: $color_9;
  }

  /* Literal.Number */
  .m {
    color: $color_10;
  }

  /* Literal.String */
  .s {
    color: $color_11;
  }

  /* Name.Attribute */
  .na {
    color: $color_12;
  }

  /* Name.Builtin */
  .nb {
    color: $color_13;
  }

  /* Name.Class */
  .nc {
    color: $color_9;
  }

  /* Name.Constant */
  .no {
    color: $color_12;
  }

  /* Name.Decorator */
  .nd {
    color: $color_14;
  }

  /* Name.Entity */
  .ni {
    color: $color_15;
  }

  /* Name.Exception */
  .ne {
    color: $color_16;
  }

  /* Name.Function */
  .nf {
    color: $color_16;
  }

  /* Name.Label */
  .nl {
    color: $color_16;
  }

  /* Name.Namespace */
  .nn {
    color: $color_7;
  }

  /* Name.Tag */
  .nt {
    color: $color_17;
  }

  /* Name.Variable */
  .nv {
    color: $color_12;
  }

  /* Operator.Word */
  .ow {
    color: $color_3;
  }

  /* Text.Whitespace */
  .w {
    color: $color_18;
  }

  /* Literal.Number.Float */
  .mf {
    color: $color_10;
  }

  /* Literal.Number.Hex */
  .mh {
    color: $color_10;
  }

  /* Literal.Number.Integer */
  .mi {
    color: $color_10;
  }

  /* Literal.Number.Oct */
  .mo {
    color: $color_10;
  }

  /* Literal.String.Backtick */
  .sb {
    color: $color_11;
  }

  /* Literal.String.Char */
  .sc {
    color: $color_11;
  }

  /* Literal.String.Doc */
  .sd {
    color: $color_11;
  }

  /* Literal.String.Double */
  .s2 {
    color: $color_11;
  }

  /* Literal.String.Escape */
  .se {
    color: $color_11;
  }

  /* Literal.String.Heredoc */
  .sh {
    color: $color_11;
  }

  /* Literal.String.Interpol */
  .si {
    color: $color_11;
  }

  /* Literal.String.Other */
  .sx {
    color: $color_11;
  }

  /* Literal.String.Regex */
  .sr {
    color: $color_19;
  }

  /* Literal.String.Single */
  .s1 {
    color: $color_11;
  }

  /* Literal.String.Symbol */
  .ss {
    color: $color_20;
  }

  /* Name.Builtin.Pseudo */
  .bp {
    color: $color_4;
  }

  /* Name.Variable.Class */
  .vc {
    color: $color_12;
  }

  /* Name.Variable.Global */
  .vg {
    color: $color_12;
  }

  /* Name.Variable.Instance */
  .vi {
    color: $color_12;
  }

  /* Literal.Number.Integer.Long */
  .il {
    color: $color_10;
  }
}
