---
layout: default
---
{% if page.description == nil or page.description == empty %}
{% assign page_description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 %}
{% else %}
{% assign page_description = page.description %}
{% endif %}
<article class="page-article">
    <header class="page-article__header">
        <div class="page-article__header-layout">
            <h1 class="page-article__title">{{ page.title }}</h1>
        </div>
    </header>

    {% include content.html %}
</article>

{% include social.html %}
