---
layout: default
---
{% if page.description == nil or page.description == empty %}
{% assign page_description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 %}
{% else %}
{% assign page_description = page.description %}
{% endif %}
{% if site.theme_features.reading_progress != false %}
{% include reading-progress.html %}
{% endif %}
<article class="post-page{% if page.image %} post-page--with-image{% endif %}">
    {% include post-header.html %}

    {% include content.html %}

    {% include giscus-comments.html %}

    {% include post-navigation.html %}

    {% include related-posts.html %}
</article>
