* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

::selection {
  background: #4d41e0;
  color: #fff;
}

::-moz-selection {
  background: #4d41e0;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif 4", Georgia, Cambria, "Times New Roman", Times, serif;
}
